body {
  background-color: #FAFAFA;
}

header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: solid 1px #EAEAEA;
  border-bottom: solid 1px #EAEAEA;
}

header > h1 {
  text-align: center;
  margin-top: 2rem;
}

.container > h3 {
  text-align: center;
}

.unit {
  background-color: #EAEAEA;
  margin-bottom: 1rem;
}

.unit > canvas {
  vertical-align: bottom;;
}